<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Elasticsearch.Net" version="5.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="NEST" version="5.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="RestSharp" version="105.2.2" targetFramework="net452" />
  <package id="Sendgrid" version="8.0.0" targetFramework="net45" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.0.0" targetFramework="net45" />
  <package id="Twilio" version="4.7.2" targetFramework="net452" />
</packages>