<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PledgeRuntime" type="DynamicContainer.PledgeRuntime, DynamicContainer" />
    <section name="Credential" type="DynamicContainer.Credential, DynamicContainer" />
  </configSections>
  <PledgeRuntime configSource="PledgeRuntime.config" />
  <Credential configSource="Credentials.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>