<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PledgeRuntime" type="DynamicContainer.PledgeRuntime, DynamicContainer" />
    <section name="Credential" type="DynamicContainer.Credential, DynamicContainer" />
  </configSections>
  <PledgeRuntime configSource="PledgeRuntime.config" />
  <Credential configSource="Credentials.config" />
</configuration>