<?xml version="1.0" encoding="UTF-8"?>
<PledgeRuntime Version="5">
  <Mode>Remote</Mode>
  <RemoteSettings>
    <PledgeApiAddress>http://localhost:34567/</PledgeApiAddress>
    <ExternalListProvider>Pledge.Core.Utils.ExternalListProxy</ExternalListProvider>
    <PassportServerUrl>https://localhost:44310</PassportServerUrl>
    <PledgeApiScope>pledgeApi</PledgeApiScope>
    <PledgeJobClient>pledge_cli</PledgeJobClient>
    <PledgeJobSecret>PledgeCLI</PledgeJobSecret>
    <LookupServiceAddress>Not currently used. Setting taken from WebApi Web.config</LookupServiceAddress>
  </RemoteSettings>
  <LocalSettings>
    <ScheduledJobDirectory>C:\PledgeJob\Data\Jobs</ScheduledJobDirectory>
    <ScheduledJobExtension>job</ScheduledJobExtension>
    <ConfigurationDirectory>C:\PledgeJob\Data\Configuration</ConfigurationDirectory>
    <ConfigurationExtension>config</ConfigurationExtension>
    <AuditLogDirectory>C:\PledgeJob\Logs</AuditLogDirectory>
    <AuditLogFileName />
    <ExternalListProvider>Pledge.Core.Utils.OfflineListProxy</ExternalListProvider>
    <ListDirectory>C:\PledgeJob\Lists</ListDirectory>
    <ListExtension>lst</ListExtension>
    <ListMetaDataExtension>metadata</ListMetaDataExtension>
  </LocalSettings>
</PledgeRuntime>
